<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css" media="screen">
        <title>Address Book</title>
    </head>
    <body>
        <div class="container-fluid jumbotron">
            <h1>Your Own Personal Address Book</h1>
        </div>
        <div class="container">
            <div class="row">
                <h3>Fill out the form below to add a contact to your address book:</h3>
                <div class="col-sm-8">
                    <form class="form-group" action="/create_contact" method="post">
                        <label for="name">Contact Name</label>
                        <input class="form-control" type="text" name="name" id="name" placeholder="Bob"><br><br>

                        <label for="photo">URL to a Photo of Contact</label>
                        <input class="form-control" type="text" name="photo" id="photo" placeholder="http://your_photo.jpg"><br><br>

                        <label for="phone">Contact Phone #</label>
                        <input class="form-control" type="text" name="phone" id="phone" placeholder="(555) 555-5555"><br><br>

                        <label for="address">Contact Address</label>
                        <input class="form-control" type="text" name="address" id="address" placeholder="123, Main St, Portland OR, 97214"><br><br>

                        <label for="email">Contact Email</label>
                        <input class="form-control" type="email" name="email" id="email" placeholder="bob@bogusEmail.com"><br><br>

                        <button class="btn" type="submit">Add Contact</button>
                    </form>
                    <form class="form-group" action="/delete_contacts" method="post">
                        <button class="btn" type="submit">Delete Contacts</button>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <h1>Here is a list of your existing contacts:</h1>
                <div class="col-sm-8">
                    {% if contacts is not empty %}
                        {% for contact in contacts %}
                            <h4>{{ contact.getName }}</h4><br>
                            <img src="{{ contact.getPhoto}}" alt="contact photo"/>
                            <p>
                                <h5>Phone #: {{ contact.getPhone }}</h5>
                                <h5>Address: {{ contact.getAddress }}</h5>
                                <h5>Email: {{ contact.getEmail }}</h5>
                            </p><br><br>
                        {% endfor %}
                    {% endif %}
                </div>

            </div>
        </div>
    </body>
</html>
