<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="../../web/css/styles.css" media="screen">
        <title>Address Book</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <form class="form-group" action="/contacts" method="post">
                        <label for="name">Contact Name</label>
                        <input type="text" name="name" id="name"><br><br>

                        <label for="photo">URL to a Photo of Contact</label>
                        <input type="text" name="photo" id="photo"><br><br>

                        <label for="phone">Contact Phone #</label>
                        <input type="text" name="phone" id="phone"><br><br>

                        <label for="address">Contact Address</label>
                        <input type="text" name="address" id="address" placeholder="123, Main St, Portland OR, 97214"><br><br>

                        <button type="submit">Add Contact</button>
                    </form>
                </div>

            </div>
        </div>

        <h1>Here is a list of your existing contacts:</h1>
        {% if contacts is not empty %}
            {% for contact in contacts %}
                {{ contact.getName }}
                <img src="{{ contact.getPhoto}}" alt="contact photo"/>
                <ul>
                    <li>{{ contact.getPhone }}</li>
                    <li>{{ contact.getAddress }}</li>
                    <li>{{ contact.getEmail }}</li>
                </ul>
            {% endfor %}
        {% endif %}    
    </body>
</html>
